<h1>Index of all actors that the user is following</h1>


<ol>
	<% @actors.each do |actor| %>
	
	<li>
		<% if actor.picture_url.nil? %>
			<%= image_tag 'no_profile.jpg' %>
		<% else %>
			<img src=<%= actor.picture_url %>
		<% end %>
		<br>
		<%= actor.name %> 
		<%= link_to "Delete", actor, method: :delete %>		 
		<%= link_to "Showtimes", actor %>
	</li>
		
	<% end %>
</ol>