<h1 style="margin-left:45px">My Actors</h1>

<div class="search">

	<%= form_for @actor do |f| %>
		<div>
			<%= f.text_field :name, placeholder: 'Tom Hanks...' %>
		</div>
		<br>

		<% if flash[:notice] %>
    		<div class="notice"><%= flash[:notice] %></div>
   	 		<br>
  		<% end %>

		<%= f.submit "search", :name => "search" %>
		<%= f.submit "follow" %>
	<% end %>
</div>
<ol>
	<% @actors.each do |actor| %>
	
	<li>
		<% if actor.picture_url.nil? %>
			<%= image_tag 'no_profile.jpg' %>
		<% else %>
			<img src=<%= actor.picture_url %>
		<% end %>
		<br>
		<%= actor.name %> 
		<%= link_to "Delete", actor, method: :delete %>		 
		<%= link_to "Showtimes", actor %>
	</li>
		
	<% end %>
</ol>