<div class="row">
  <div class="columns twelve centered">
    
	<h1 >My Actors</h1>

	<div >

		<%= form_for @actor do |f| %>
			<div class="textfield">
				<%= f.text_field :name, placeholder: 'Tom Hanks...' %>
				<%= f.text_field :zipcode, value: "78757" %>
			</div>
			<br>

			<% if flash[:notice] %>
    			<div class="notice"><%= flash[:notice] %></div>
   	 			<br>
  			<% end %>

			<div>
			<%= f.submit "search", :name => "search" %>
			<%= f.submit "follow" %>
			</div>
		<% end %>
	</div>

  </div>
</div>


<% count = 0 %>
	
<% @actors.each do |actor| %>
	<%= "<div class='row'>".html_safe if count%3 ==0 %>
	 	<div class="small-4 columns">

			<div class="image-back">
				<% if actor.picture_url.nil? %>
					<%= image_tag( 'no_profile.jpg', :class =>"pic" )%>
				<% else %>
					<img class="pic" src=<%= actor.picture_url %>>
				<% end %>
			</div>
			<div>
				<%= actor.name %> 
			</div>
			<div>
				<%= link_to "Delete", actor, method: :delete %>		 
				<%= link_to "Showtimes", actor %>
			</div>
		</div>	
	<% count = count +1 %>
	<%= "</div >".html_safe if count%3 ==0 %>
<% end %>
