<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1 class="centered">Actor Showtimes</h1>



<div class="search">

	<%= form_for @actor do |f| %>
		<div>
			<%= f.text_field :name, placeholder: 'Tom Hanks...' %>
		</div>
		<br>

		<% if flash[:notice] %>
    		<div class="notice"><%= flash[:notice] %></div>
   	 		<br>
  		<% end %>

		<%= f.submit "search", :name => "search" %>
		<% if signed_in? %>
			<%= f.submit "follow" %>
		<% end %>
	<% end %>
	<br> <% if signed_in? %> 
		<%= link_to 'My Actors', index_path %>
		<% end %>

</div>
