<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h2 class="centered">Search for an actor</h2>




<div class="centered">


	<%= form_for @actor do |f| %>
		<div class="textfield">
			<%= f.text_field :name, placeholder: "Tom Hanks..." %>
			<%= text_field_tag 'zipcode', nil, placeholder: "83704" ,:style => "width:200px;" %>

		</div>
		<br>

		<% if flash[:notice] %>
    		<div class="notice"><%= flash[:notice] %></div>
   	 		<br>
  		<% end %>
		
		<%= f.submit "search", :name => "search" %>
		<% if signed_in? %>
			<%= f.submit "follow", :name => "follow" %>
		<% end %>
	<% end %>
	<br> <% if signed_in? %> 
		<%= link_to 'My Actors', index_path %>
		<% end %>

</div>

</div>
