<body style="text-align: center">
<% require 'nokogiri' %>
<% require 'open-uri' %>


<h1>ActorShowtimes</h1>

<p>
	<%= @actor.name %>
	<%= @actor.movie_db_id %>
<br>


<img style="align: right; size: 600x300" border="0" src="//maps.googleapis.com/maps/api/staticmap?center=Austin,TX&amp;size=600x300&amp;sensor=false&amp;zoom=10&amp;markers=color:green%7Clabel:1%7C2901$<%= @ad1 %>&amp;markers=color:green%7Clabel:2%7C2901$<%= @ad2 %>&amp;markers=color:green%7Clabel:3%7C2901$<%= @ad3 %>" alt="Austin, TX">


<ol>
	 <li>
	 	<% @flicks.each do |name, theater| %>
		<br>
		<%= theater.name %>
		<br>
		<%= theater.address %>
		<br>
			<% theater.films.each do |title, film| %>

				<%= film.title %>
				<br>
					<%= film.times %>
				<br>
			<% end %>
		<% end %>
	</li>
 </ol>