<!DOCTYPE html>
<html>
<head>
  <title>ActorShowtimes</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://cdn.jsdelivr.net/foundation/4.3.2/css/foundation.css">
</head>
<body>
  <!-- Nav Bar -->
<div class="navbar">
  <div class="row header">
   
    <div class="small-9 columns">   
    <h1>Actor Showtimes</zh1>
    </div>


    <div class="small-3 columns signin">
    <ul>
    <% if user_signed_in? %> 
      <li><%= link_to 'My Account', user_url(current_user.id) %></li>

<li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
        <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to  "Sign up", new_user_registration_path %></li>
        <li><%= link_to  "Sign in", new_user_session_path %></li>
<% end %>
    </ul>
    </div>

  

  </div>
</div>
  <!-- End Nav -->
  <div class="row">
     <div class="large-12 columns"> 
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
     </div>
  </div>

<%= yield %>

</body>
</html>
